
body {
    font-family: "Rajdhani", sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f4f4f4; */
    background-image: url('../images/fond/fond3.jpg');
    background-size: cover;
    background-position: justify;
    background-repeat: no-repeat;
}
h1{
    font-size: 60px;
    font-weight: 400;
    margin: 0px; 
}
h2 {
    margin: 0 0 10px 0;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
a {
    font-size: 18px;
    font-weight: 600;
}
.header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
    margin: 0px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header h1 {
    margin: 0;
    padding: 10px;
    font-size: 60px;
    font-weight: 500;
}
.bouton-admin {
    position: absolute;
    top: 15px;
    right: 15px;
}
.bouton-admin a {
    color: white;
    text-decoration: none;
}
.form-container {
    justify-content: center;
    text-align: center;
    margin: 0px 0px 40px 0px;
}
.form-container form {
    width: 400px;
    justify-content: center;
    display: inline-block;
    text-align: center;
    background: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-container select, .form-container button {
    width: 75%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.select_categorie{
    font-size: 24px;
    font-weight: 600;
    background: #4CAF50;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
}
.cardtemoignages {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    margin: 20px;
    padding: 20px;
}
.cardtemoignages h3 {
    margin: 0;
    padding: 10px;
    background: #972606;
    color: white;
    font-size: 30px;
}
.cardtemoignages p {
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    text-align: justify;
}

/* selecteur rubriques basse de donnée */
.card_categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}
.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card h3 {
    margin: 0;
    padding: 10px;
    background: #008cba;
    color: white;
}
.card p {
    padding: 10px;
}


/* boutons actifs */
.boutons {
    display: flex;
    gap: 20px; /* Espace entre les boutons */
    margin: 0px 0px 0px 0px;
}
.bouton {
    background-color: #91c61e; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    padding: 10px 20px; /* Espacement interne */
    text-align: center; /* Centrer le texte */
    text-decoration: none; /* Pas de soulignement */
    display: inline-block; /* Affichage en ligne */
    font-size: 16px; /* Taille de la police */
    margin: 4px 2px; /* Marges */
    cursor: pointer; /* Curseur de pointeur */
    border-radius: 4px; /* Coins arrondis */
}
.bouton a {
    color: white; /* Couleur du texte du lien */
    text-decoration: none; /* Pas de soulignement */
}
.bouton:hover {
    background-color: #225024;; /* Couleur de fond au survol */
}
.bouton:active {
    background-color: #225024; /* Couleur de fond au survol */
}


/* bouton fixe */
.boutonfixe {
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    cursor: pointer; /* Curseur de pointeur */
}
.bouton2 {
    background-color: #225024; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    padding: 10px 20px; /* Espacement interne */
    text-align: center; /* Centrer le texte */
    text-decoration: none; /* Pas de soulignement */
    display: inline-block; /* Affichage en ligne */
    font-size: 16px; /* Taille de la police */
    margin: 4px 2px; /* Marges */
    cursor: pointer; /* Curseur de pointeur */
    border-radius: 4px; /* Coins arrondis */
}
.bouton2 a {
    color: white; /* Couleur du texte du lien */
    text-decoration: none; /* Pas de soulignement */
}

/* boutons temoignages */
.boutonstemoins {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
.bouton3 {
    background-color: #972606; /* Couleur de fond */
    color: #ffffff; /* Couleur du texte */
    border: none; /* Pas de bordure */
    padding: 10px 20px; /* Espacement interne */
    text-align: center; /* Centrer le texte */
    text-decoration: none; /* Pas de soulignement */
    display: inline-block; /* Affichage en ligne */
    font-size: 16px; /* Taille de la police */
    margin: 4px 2px; /* Marges */
    cursor: pointer; /* Curseur de pointeur */
    border-radius: 4px; /* Coins arrondis */
}
.bouton3 a {
    color: #ffffff; /* Couleur du texte du lien */
    text-decoration: none; /* Pas de soulignement */
}
.bouton3:hover {
    background-color: #3f1104; /* Couleur de fond au survol */
}
.bouton3:active {
    background-color: #3f1104; /* Couleur de fond au survol */
}

/* boutons temoignages */
.boutonstemoins {
    display: flex;
    gap: 20px; /* Espace entre les boutons */
    margin: 0px 0px 0px 0px;
}
.temoins {
    background-color: #91c61e; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    padding: 10px 20px; /* Espacement interne */
    text-align: center; /* Centrer le texte */
    text-decoration: none; /* Pas de soulignement */
    display: inline-block; /* Affichage en ligne */
    font-size: 16px; /* Taille de la police */
    margin: 4px 2px; /* Marges */
    cursor: pointer; /* Curseur de pointeur */
    border-radius: 4px; /* Coins arrondis */
}
.temoins a {
    color: white; /* Couleur du texte du lien */
    text-decoration: none; /* Pas de soulignement */
}
.temoins:hover {
    background-color: #225024;; /* Couleur de fond au survol */
}
.temoins:active {
    background-color: #225024; /* Couleur de fond au survol */
}


/* presentation aquariophilie */
.card_aqua {
    margin: 0 auto;
    width: 80%;
}
.card2 {
    background-color: rgba(255, 255, 255, 0.741);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    margin: 20px;
}
.card2 h3 {
    margin: 0;
    padding: 10px;
    background: #972606;
    color: white;
    font-size: 30px;
}
.card2 p {
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
    text-align: justify;
}


/* selections du mois */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}
.card {
    width: 250px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
}
.card h2 {
    color: #46a517;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}
.card-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.bouton-details {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
}
.bouton-details a {
    color: white;
    text-decoration: none;
}
.bouton-details:hover {
    background-color: #45a049;
}