body {
    font-family: "Rajdhani", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('../images/fond/fond3.jpg');
    background-size: cover;
    background-position: justify;
    background-repeat: no-repeat;
}

a {
    font-size: 16px;
    font-weight: 600;
}

.header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0px 0px 20px 0px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 500;
}

h2 {
    font-size: 24px;
    color: #000000;
    
}

h3 {
    font-size: 30px;
    font-weight: 600;
    color: #4CAF50;
}

.form {
    position: absolute;
    top: 20px;
    right: 20px;
}

.boutons {
    display: flex;
    gap: 20px; /* Espace entre les boutons */
    margin: 10px 0px 0px 0px;
}

.bouton {
    background-color: #91c61e; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    padding: 10px 20px; /* Espacement interne */
    text-align: center; /* Centrer le texte */
    text-decoration: none; /* Pas de soulignement */
    display: inline-block; /* Affichage en ligne */
    font-size: 16px; /* Taille de la police */
    margin: 4px 2px; /* Marges */
    cursor: pointer; /* Curseur de pointeur */
    border-radius: 4px; /* Coins arrondis */
}

.bouton a {
    color: white; /* Couleur du texte du lien */
    text-decoration: none; /* Pas de soulignement */
}

.bouton:hover {
    background-color: #225024;; /* Couleur de fond au survol */
}


.article-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    text-align: center;
}

.article-card h2 {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 10px;
    
}

.article-texte {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-texte p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}

.article-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}