body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

.header h1 {
    margin: 0;
}

h2 {
    font-size: 24px;
    color: #000000;
}

h3 {
    font-size: 24px;
    color: #4CAF50;
}

.form {
    position: absolute;
    top: 20px;
    right: 20px;
}

.bouton-accueil {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.bouton-accueil:hover {
    background-color: #555;
    transform: scale(1.05);
}

.bouton-accueil:active {
    background-color: #222;
    transform: scale(1);
}

.article-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    text-align: center;
}

.article-card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.article-texte {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-texte p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}

.article-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}